.box {
    height: 300px;
    width: 300px;
    background-color: #11c5c6;
  }
  
  p {
    height: 75%;
    width: 75%;
    background-color: #fbdd1c;
  }

  .content {
    max-width: 800px;
    height: 400px;
  
    margin-left: auto;
    margin-right: auto;
    background-color: deeppink;
  }
  
  p {
    font-size: 1.5em;
    font-weight: bold;
  }
/* 
  visible
  Visible merupakan nilai default pada properti ini. Konten yang tidak tertampung (overflow) akan tetap ditampilkan seperti pada standarnya.
  hidden
  Jika terjadi overflow, konten yang tidak tertampung akan disembunyikan.
  scroll
  Memunculkan scroll bar pada pinggir elemen sehingga konten yang tidak tertampung akan ditampilkan dengan scroll bar. Jika menggunakan nilai ini, scroll bar akan tetap muncul walaupun konten tidak terjadi overflow.
  auto
  Sama seperti scroll, hanya jika tidak terjadi overflow, nilai visible yang akan diterapkan. */
  div {
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    border: 10px solid cornflowerblue;
    padding: 20px;
  }
  
  .content {
    box-sizing: content-box;
  }
  
  .box {
    box-sizing: border-box;
  }

  /* border */
  .box {
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 2px;
  }
 
  .box {
    border-width: 2px 1px 1px 2px; /*top right bottom left*/
  }
/* border style: solid, dotted, dashed, double, groove, hidden */

.box {
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: groove;
    border-left-style: double;
  
    border-width: 4px;
    border-color: red;
    width: 200px;
    height: 50px;
  }
/* shorthand border */
.box {
    border: 4px dashed #00a2c6;
    width: 200px;
  }
/* padding */
/* padding jarak konten pada elemen */
p {
    border: 4px solid #00a2c6;
    width: 350px;
  }
  
  p.example {
    padding: 10px;
  }
/* margin */
body {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin: 10px 15px 20px 25px;
    /* top dan bottom bernilai 10px, left dan right bernilai 15px */
    margin: 10px 15px;
}